<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bride.demon">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Dangerous permissions and permission groups -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name=".DemonApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="standard"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="@string/activity_recycler_view"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="max"
                    android:host="demon"
                    android:pathPrefix="/recycler.view"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.PlatformActivity"
            android:label="@string/activity_platform"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.bride.demon.activity.PlatformActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.BlankActivity"
            android:label="@string/activity_blank"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".module.framework.activity.StandardActivity"
            android:label="@string/activity_standard"
            android:launchMode="standard"/>

        <activity android:name=".module.framework.activity.SingleTopActivity"
            android:label="@string/activity_single_top"
            android:launchMode="singleTop" />

        <activity android:name=".module.framework.activity.SingleTaskActivity"
            android:label="@string/activity_single_task"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"/>

        <activity android:name=".module.framework.activity.SingleInstanceActivity"
            android:label="@string/activity_single_instance"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />

        <activity android:name=".activity.NestedListActivity"
            android:label="@string/activity_nested_list"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.TouchActivity"
            android:label="@string/activity_touch"
            android:screenOrientation="portrait"
            android:launchMode="standard">
            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="max"
                    android:host="demon"
                    android:pathPrefix="/touch"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.UploadActivity"
            android:label="@string/activity_upload"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.WebpActivity"
            android:label="@string/activity_webp"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.GlideActivity"
            android:label="@string/activity_glide"
            android:launchMode="singleTask"
            android:exported="true"/>

        <activity android:name=".activity.RelativeLayoutActivity"
            android:label="@string/activity_relative_layout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity android:name="com.bride.demon.activity.VolleyActivity"
            android:label="@string/volley_activity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>

        <activity android:name=".module.video.activity.LiveCameraActivity"
            android:label="@string/activity_live_camera"
            android:launchMode="singleTask"/>

        <activity android:name=".module.video.activity.AudioRecordActivity"
            android:label="@string/activity_audio_record"
            android:launchMode="singleTask"/>

        <activity android:name=".module.video.activity.VideoViewActivity"
            android:label="@string/activity_video_view"
            android:launchMode="standard"/>

        <activity android:name=".activity.ExceptionActivity"
            android:label="@string/activity_exception"
            android:launchMode="singleTask"/>

        <activity android:name=".activity.SerializableActivity"
            android:label="@string/activity_serializable"
            android:launchMode="singleTop"/>

        <activity android:name=".activity.DragActivity"
            android:label="@string/activity_drag"
            android:screenOrientation="sensorPortrait"
            android:launchMode="singleTop"/>

        <activity android:name=".activity.RegionActivity"
            android:label="@string/activity_region"
            android:screenOrientation="sensorPortrait"
            android:launchMode="singleTop"/>


        <activity android:name=".activity.LoginActivity"
            android:label="@string/activity_login"
            android:launchMode="singleTop"/>

        <activity android:name=".activity.CodecActivity"
            android:label="@string/activity_codec"
            android:launchMode="singleTop"/>

        <activity android:name=".activity.JobSchedulerActivity"
            android:label="@string/activity_job_scheduler"
            android:launchMode="singleTop"/>

        <activity android:name=".module.video.activity.GLActivity"
            android:label="@string/activity_gl"
            android:launchMode="singleTop"/>

        <activity android:name=".module.video.activity.Camera3DActivity"
            android:label="@string/activity_camera_3d"
            android:launchMode="singleTop"/>

        <activity android:name=".module.video.activity.DiceActivity"
            android:label="@string/activity_dice"
            android:launchMode="singleTop"/>

        <service android:name=".service.MyService"
            android:exported="true"/>

        <service android:name=".service.UploadService"
            android:exported="true"/>

        <service android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".service.CustomForegroundService" />
    </application>

</manifest>